@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>+55 xx xxxxx-xxxx</span>
    </p>    
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="mailto:suporte@example.com">suporte@example.com</a></span>
    </p>    
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        Maringá<br />
        PR, 87000-000
    </p>
</section>