@*@{
    ViewBag.Title = "Livraria";
}

<h2>Cadastrar</h2>
<ol class="round">
    <li>
        <h5>Nome: <input type="text" name="Nome" size="30" /></h5>
        
    </li>

    <li>
        <h5>Autor: <input type="text" name="Autor" size="30" /></h5>
       
    </li>

    <li>
        <h5>Categoria: <select id=Categoria>
        <option>Selecione a categoria</option>
        <option>Ação</option>
        <option>Romance</option>
        <option>Cómedia</option>
        <option>Terror</option>
        <option>Auto ajuda</option>
        </select>
        </h5>
    </li>

    <li>
        <h5>Editora: <input type="text" name="Editora" size="30" /></h5>
        
    </li>

    <li>
        <h5>Páginas: <input type="text" name="Paginas" size="30" /></h5>
        
    </li>

    <li>
        <button type ="submit">Cadastrar</button>
        
    </li>
</ol>*@
